@model HumanDesign.Models.Circuit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Circuit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Theme" class="control-label">Theme</label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Note</label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedChannelIds" class="control-label">Channels</label>
                <select asp-for="SelectedChannelIds" asp-items="ViewBag.ChannelId" class="form-control" multiple="multiple"></select>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 10px;">
                <div class="form-group me-2">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
