@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HUMAN DESIGN</h1>
    <p class="lead">Marina's Human Design Data Management Portal</p>
    <!-- Ensure the div below is where you want the image to appear -->
    <div>
        <img src="~/images/Wheel-lowres.png" alt="Data Management Visual" class="img-fluid" style="max-height: 400px; margin: 0 auto; display: block;" />
    </div>
</div>
